In [1]:
# import the necessary libraries
import numpy as np
import pandas as pd

In [2]:
# reading the csv file into a dataframe
food_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
food_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [12]:
# checking for the first 50 random values in the dataframe
food_df.sample(50)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
19972,238,Ethiopia,2633,Cocoa Beans and products,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
14741,107,CÃ´te d'Ivoire,2656,Beer,5072,Stock Variation,1000 tonnes,24.00,-91.00,0.00,0.00,0.00
21822,75,Gambia,2515,Rye and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
26678,175,Guinea-Bissau,2848,Milk - Excluding Butter,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
25115,90,Guinea,2617,Apples and products,5142,Food,1000 tonnes,1.00,1.00,1.00,1.00,1.00
29340,122,Lesotho,2744,Eggs,5301,Domestic supply quantity,1000 tonnes,2.00,2.00,2.00,2.00,1.00
58834,251,Zambia,2601,Tomatoes and products,5611,Import Quantity,1000 tonnes,1.00,1.00,1.00,1.00,1.00
51933,276,Sudan,2611,"Oranges, Mandarines",664,Food supply (kcal/capita/day),kcal/capita/day,4.00,4.00,4.00,3.00,3.00
13576,46,Congo,2763,Pelagic Fish,5142,Food,1000 tonnes,49.86,34.24,39.23,43.72,43.72
8585,32,Cameroon,2563,Olives (including preserved),5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
32225,130,Malawi,2513,Barley and products,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
20386,238,Ethiopia,2766,Cephalopods,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
24700,90,Guinea,2556,Groundnuts (Shelled Eq),5123,Losses,1000 tonnes,32.00,25.00,27.00,35.00,39.00
41635,158,Niger,2513,Barley and products,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.00
42885,158,Niger,2764,"Marine Fish, Other",645,Food supply quantity (kg/capita/yr),kg,0.06,0.05,0.06,0.04,0.04
45150,184,Rwanda,2586,"Oilcrops Oil, Other",5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
14625,107,CÃ´te d'Ivoire,2630,Coffee and products,5170,Residuals,1000 tonnes,0.00,0.00,0.00,-17.00,-11.00
37916,143,Morocco,2558,Rape and Mustardseed,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
47273,195,Senegal,2535,Yams,5142,Food,1000 tonnes,28.00,35.00,70.00,72.00,70.00
49469,197,Sierra Leone,2657,"Beverages, Fermented",5072,Stock Variation,1000 tonnes,-46.00,0.00,0.00,0.00,0.00
6788,233,Burkina Faso,2928,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.02,0.02,0.02,0.02,0.03
31364,129,Madagascar,2579,Sesameseed Oil,5911,Export Quantity,1000 tonnes,NaN,0.00,0.00,0.00,0.00
26052,175,Guinea-Bissau,2560,Coconuts - Incl Copra,674,Protein supply quantity (g/capita/day),g/capita/day,0.02,0.04,0.04,0.04,0.04
17748,209,Eswatini,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1184.00,1250.00,1292.00,1305.00,1317.00
6054,233,Burkina Faso,2578,Coconut Oil,684,Fat supply quantity (g/capita/day),g/capita/day,0.43,0.53,0.53,0.54,0.54
50885,202,South Africa,2732,Mutton & Goat Meat,645,Food supply quantity (kg/capita/yr),kg,3.35,3.21,3.20,3.20,3.19
41280,147,Namibia,2735,"Meat, Other",664,Food supply (kcal/capita/day),kcal/capita/day,20.00,20.00,20.00,21.00,20.00
48732,197,Sierra Leone,2907,Starchy Roots,674,Protein supply quantity (g/capita/day),g/capita/day,4.01,4.05,4.44,4.42,4.50
42586,158,Niger,2655,Wine,5142,Food,1000 tonnes,1.00,1.00,1.00,1.00,0.00
27876,114,Kenya,2642,Cloves,5511,Production,1000 tonnes,2.00,2.00,2.00,2.00,2.00
13122,46,Congo,2619,Dates,5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
31301,129,Madagascar,2574,Rape and Mustard Oil,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
40850,147,Namibia,2579,Sesameseed Oil,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
42569,158,Niger,2924,Alcoholic Beverages,5911,Export Quantity,1000 tonnes,0.00,0.00,NaN,0.00,0.00
58708,251,Zambia,2575,Cottonseed Oil,5131,Processing,1000 tonnes,0.00,0.00,0.00,0.00,0.00
39881,144,Mozambique,2655,Wine,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
38017,143,Morocco,2572,Groundnut Oil,645,Food supply quantity (kg/capita/yr),kg,0.35,0.35,0.35,0.35,0.35
60669,181,Zimbabwe,2945,Offals,5301,Domestic supply quantity,1000 tonnes,21.00,22.00,21.00,22.00,22.00
11221,39,Chad,2549,"Pulses, Other and products",5142,Food,1000 tonnes,45.00,36.00,31.00,32.00,30.00
26361,175,Guinea-Bissau,2625,"Fruits, Other",645,Food supply quantity (kg/capita/yr),kg,17.92,17.96,17.80,18.95,17.57
56649,226,Uganda,2775,Aquatic Plants,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
31387,129,Madagascar,2581,Ricebran Oil,5511,Production,1000 tonnes,0.00,0.00,0.00,0.00,0.00
57968,215,United Republic of Tanzania,2761,Freshwater Fish,5154,Other uses (non-food),1000 tonnes,0.00,0.00,0.00,0.00,0.00
17394,59,Egypt,2733,Pigmeat,645,Food supply quantity (kg/capita/yr),kg,0.01,0.01,0.01,0.01,0.01
59607,181,Zimbabwe,2513,Barley and products,5611,Import Quantity,1000 tonnes,15.00,5.00,4.00,0.00,0.00
40492,147,Namibia,2534,"Roots, Other",5142,Food,1000 tonnes,265.00,270.00,270.00,275.00,275.00
11952,39,Chad,2945,Offals,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
6753,233,Burkina Faso,2961,"Aquatic Products, Other",5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
43226,159,Nigeria,2908,Sugar Crops,645,Food supply quantity (kg/capita/yr),kg,0.58,0.58,0.57,0.56,0.39
18712,209,Eswatini,2734,Poultry Meat,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [4]:
# checking the data types
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
# checking for null values
food_df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
# checking for duplicated values
food_df.duplicated().sum()

0

In [9]:
#checking the summary statistics
food_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [15]:
# Identifying the year with the highest sum of stock variations
food_df[food_df['Element'] == 'Stock Variation'][['Y2014', 'Y2016', 'Y2017', 'Y2018']].max().idxmax()

'Y2017'

In [16]:
# checking the number of rows and columns
food_df.shape

(60943, 12)

In [17]:
# checking for the total number and percentage of missing data in the year 2014 
missing_data = food_df['Y2014'].isnull().sum()
total_data = food_df['Y2014'].shape[0]
percentage_missing = (missing_data / total_data) * 100
print(f"Total number of missing data in column Y2014: {missing_data}")
print(f"Percentage of missing data in column Y2014: {percentage_missing:.3f}%")

Total number of missing data in column Y2014: 1589
Percentage of missing data in column Y2014: 2.607%

In [18]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [39]:
x = y[1][1]
print(x)

8

In [19]:
food_df['Area'].nunique()

49

In [20]:
food_df.loc[(food_df['Area'] == 'Madagascar') & (food_df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

173.04999999999998

In [22]:
array = [[94, 89, 63], [93, 92, 48], [92, 94, 56]]

In [23]:
print(array[:2,0:])
print(array[:1,1:])
print(array[:2,1:])
print(array[:1,1:])
print(array[1:,:])

TypeError: list indices must be integers or slices, not tuple

In [25]:
food_df[['Y2017', 'Area']].groupby(['Area']).sum().sort_values(by='Y2017', ascending=False).iloc[0]

Y2017    1483268.23
Name: Nigeria, dtype: float64

In [27]:
food_df[['Y2017', 'Area']].groupby(['Area']).sum().sort_values(by='Y2017', ascending=True).iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

In [28]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

df = pd.DataFrame(lst, columns=col, index=[1,2,3])

In [29]:
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [34]:
wine_df = food_df[food_df['Item'] == 'wine']
total_sum = wine_df.groupby('Item')[['Y2015', 'Y2018']].sum()

print(total_sum)

Empty DataFrame
Columns: [Y2015, Y2018]
Index: []

Empty DataFrame
Columns: [Y2015, Y2018]
Index: []

In [35]:
processing_df = food_df[food_df['Element'] == 'Processing']
total_count = processing_df.groupby('Element')['Y2017'].count()

In [37]:
total_count

Element
Processing    1998
Name: Y2017, dtype: int64